h1{
    color: blueviolet;
}
isError{
color: crimson;
}

.form-align{
    width:40%;
}
.center{
    display: flex;
    justify-content: center;
    
    }

    .button-center{
        text-align: center;
    }

